@using System.Text.Json
@typeparam T

<input @bind-value="Query" @bind-value:event="oninput" @onkeyup="HandleKeyUp">

@if (Suggestions != null)
{
    <ul>
        @foreach (var suggestion in Suggestions)
        {
            <li class="@(suggestion.IsHighlighted ? "highlight" : "")">
                <pre>@JsonSerializer.Serialize(suggestion)</pre>
            </li>
        }
    </ul>
}
